<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Post_list</title>
</head>
<body>
    <h1>Primeiro Template</h1>
        <p>Esse é o meu primeiro template com Django</p>
    <h2>Teste Django</h2>
        <p>Até agora está dando tudo certo</p>
    {{ posts }}
    <p>
    {% for post in posts %}
        {{ post }}
    {% endfor %}
    </p>
<div>
    <h1><a href="/">Django Blog</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>publicado em: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
</body>
</html>